<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  <title>Hostel Management</title>
</head>

<body>

  <nav class="navbar navbar-expand-lg navbar-dark bg-info">
    <a class="navbar-brand" href="http://www.walchandsangli.ac.in/">Walchand College Of Engineering , Sangli</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="/home/about">About Management</a>
        </li>
         <li class="nav-item active">
          <a class="nav-link" href="/home/contact">Contact Details</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="/home/stulogin">Login</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="/home/register">Registration</a>
        </li>
      </ul>

    </div>
  </nav>

<br>
  <div class="container-fluid" style="text-align:center" >
    <button type="button" class="btn btn-secondary">
      <h3>INFORMATION ABOUT HOSTEL</h3>
    </button>
  </div>

<br>

  <!-- <div class = "container-fluid" style="text-align:center" >

  Walchand College Of Engineering has a in campus hostel .It spread in about 1.5 acres .It has 2 seperate hostels
  for boys and girls .Boys Hostel has 4 hostel blocks namely D-5 ,D-6 ,D-7 ,D-8 ; providing access for First year ,
  Second year ,Third year and diploma students. Boys hostel provides with a built in playground , a mess , a store
  room , a
  tv hall and boiler area (are where hot water is provided) ; moreover each floor has a seperate heater for hot
  water .Each room has two cupboard ,3 set of hangers ,1 tube light ,1 Fan ,4 charging sockets etc . Presently it is
  a 3 shairing room . Centre of the hostel has a maintained garden . Girls hostel also has 4 blocks namely D1 ,D2 ,
  D-3 ,D-4 ; providing access for First year ,
  Second year ,Third year ,Final year and diploma student . Other states students accomodate cyber hostel . 
  The hostel fees is 11,000.00 per semister including electricity bills , water bills etc . 

</div> -->


<div class="entry-content">
  <ul>
     <li>Walchand College Of Engineering has a in campus hostel </li>
     <li>It spread in about 1.5 acres </li>
     <li>It has 2 seperate hostels for boys and girls </li>
     <li>Boys Hostel has 4 hostel blocks namely D-5 ,D-6 ,D-7 ,D-8 ; providing access for First year ,Second year ,Third year and diploma students</li>
     <li>Boys hostel provides with a built in playground , a mess , a store room , a tv hall and boiler area (are where hot water is provided)</li>
     <li>moreover each floor has a seperate heater for hotwater </li>
     <li>Each room has two cupboard ,3 set of hangers ,1 tube light ,1 Fan ,4 charging sockets etc </li>
     <li>Centre of the hostel has a maintained garden </li>
     <li> Girls hostel also has 4 blocks namely D-1 ,D-2 ,D-3 ,D-4 ; providing access for First year ,Second year ,Third year ,Final year and diploma student . </li>
     <li>Other states students accomodate cyber hostel .</li>
     <li>The hostel fees is 11,000.00 per semister including electricity bills , water bills etc . .</li>
    </ul>
 </div>

<br>

   <div class="container-fluid" style="text-align:center" ;>
    <button type="button" class="btn btn-secondary">
      <h3>Hostel Rectors</h3>
    </button>
  </div>

  <br>

  <nav style="--bs-breadcrumb-divider: '';" aria-label="breadcrumb">
    <ol class="breadcrumb">

      <li class="breadcrumb-item active" aria-current="page">Rector mail id </li>
      <li class="breadcrumb-item"><a href="chiefrector@walchandsangli.ac.in">chiefrector@walchandsangli.ac.in</a></li>

    </ol>
  </nav> 


  <nav style="--bs-breadcrumb-divider: '';" aria-label="breadcrumb">
    <ol class="breadcrumb">

      <li class="breadcrumb-item active" aria-current="page">Chief Rector & Overall Supervision
        (Dr. K. H. Inamdar) </li>


    </ol>
  </nav>


  
  <nav style="--bs-breadcrumb-divider: '';" aria-label="breadcrumb">
    <ol class="breadcrumb">

      <li class="breadcrumb-item active" aria-current="page">Rector Ladies (D1, D2,Cyber)
        (Mrs. S. L. Shaikh)</li>


    </ol>
  </nav>


  


  <nav style="--bs-breadcrumb-divider: '';" aria-label="breadcrumb">
    <ol class="breadcrumb">

      <li class="breadcrumb-item active" aria-current="page">Rector (D3, D4)
        (Mr. A. B. Patil)</li>


    </ol>
  </nav>


  <nav style="--bs-breadcrumb-divider: '';" aria-label="breadcrumb">
    <ol class="breadcrumb">

      <li class="breadcrumb-item active" aria-current="page">Rector (D5, D6)
        (Mr. R. D. Padhye)</li>


    </ol>
  </nav>


  <nav style="--bs-breadcrumb-divider: '';" aria-label="breadcrumb">
    <ol class="breadcrumb">

      <li class="breadcrumb-item active" aria-current="page">Rector (D7, D8)
        (Mr. Pophare)</li>


    </ol>
  </nav>
 

<



<div class="container-fluid" style="text-align:center">
  <button type="button" class="btn btn-secondary">
    <h3>Information About Mess</h3>
  </button>
</div>

<br>

<div class="entry-content">
  <ul>
     <li>Our hostel has a in campus mess</li>
     <li>Mess fess are 2500.00 per month </li>
     <li>If a student is absent for more than 6 days continuously ,it would be a official leave and these days will be added in left over mess days</li>
     <li>Mess menue is not fixed as changes seasonaly</li>
     <li>Mess will provide breakfast ,lunch and dinner at above fees inclusive </li>
   </ul>
 </div>






  </section>
  <!-- Section: Links  -->

  <!-- Copyright -->
  <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
    @ 2022 ACM HACKATHON
    <a class="text-reset fw-bold" href="https://mdbootstrap.com/">VORTEX DEVELOPERS</a>
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->









  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
</body>

</html>