<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Signup</title>
</head>
<body>

     {% for message in messages %}
     <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
     <strong>Message:</strong> {{  message }}
     <button type="button" class="close" data-dismiss="alert" aria-label="close">
     <span aria-hidden="true">Add Info</span>
     </button>
     </div>
 
 {% endfor %}


    
    <h1 style="text-align: center;" >Walchand College of Engineering,Sangli</h1>
    <h2 style="text-align: center;" >Hostel Registration</h2>
    <h3 style="text-align: center;" >Add you Information here</h3>

    <div class="container" align="center">
    <form action="/auth/info/" method="post" style="text-align: center;" >

      {% csrf_token %}

      <label for="">HSC Marks</label>
      <input type="text" id="hscmarks" name="hscmarks" placeholder="HSC Marks" Required>
      <br>
      <br>

      {% comment %} <label for="">Hsc Marksheet</label>
      <input type="file" id="fname" name="fname" placeholder="First name" Required>
      <br>
      <br> {% endcomment %}

      <label for="">SSc Marks</label>
      <input type="text" id="sscmarks" name="sscmarks" placeholder="SSC marks" Required>
      <br>
      <br>

      {% comment %} <label for="">Ssc Marksheet</label>
      <input type="file" id="date" name="date" placeholder="Enter DOB">
      <br>
      <br> {% endcomment %}

      {% comment %} <label for="">Admission Confiramtion Letter</label>
      <input type="file" id="address" name="address" placeholder="Enter your address">
      <br>
      <br> {% endcomment %}       
      <label for="">CET Score<label>
        <input type="number" id="cetscore" name="cetscore" placeholder="Enter cet score">
        <br>
        <br>  
      <label for="">Enter DOB<label>
        <input type="date" id="DOB" name="DOB" placeholder="Enter your DOB">
        <br>
        <br> 
        <label for="">Present Year<label>
          <input type="number" id="presentyear" name="presentyear" placeholder="Current year">
          <br>
          <br>
      <label for="">Last Sem Score<label>
      <input type="number" id="lss" name="lss" placeholder="Last sem score">
      <br>
      <br> 

      <label for="">Address<label>
        <input type="text" id="address" name="address" placeholder="Enter your address">
        <br>
        <br> 
       
      <label for="">Gender<label>
         <input type="text" id="lss" name="gender" placeholder="Enter your gender">
         <br>
         <br>
      <label for="">Disability</label>
        <input type="text" id="disability" name="disability" placeholder="You have any disability?">
        <br>
        <br>   

        <input type="text" id="is_requested" name="is_requested" value="1"  hidden>
        <label for="">hostel number</label>
        <input type="text" id="hostel" name="hostel" placeholder="enter hostel no">
        <br>
        <br>   
        <label for="">Room No</label>
        <input type="text" id="room" name="room" placeholder="enter room no">
        <br>
        <br>   
      <button type="submit">Submit</button>
      </form>
    </div>
</body>
</html>